@import "tailwindcss";

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-involve);
	--font-mono: var(--font-involve);
}

body {
	font-family: Involve, sans-serif;
}
